# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: MSBuild

on:
  push:
    branches: "main"
  pull_request:
    branches: "main"
    paths-ignore:
      - '*.md'
      - LICENSE

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-2022

    strategy:
      fail-fast: false

      matrix:
        build_type: [Debug, Release]
        platform: [Win32, x64]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2.0.0

      - name: Build
        working-directory: ${{ github.workspace }}
        run: >
          msbuild /m /p:Configuration=${{ matrix.build_type }} /p:Platform=${{ matrix.platform }}
          BuildAllSolutions.targets
